<% include partials/navbar.ejs%>
<div class="container-fluid">
    <hr>
    <h1 class="d-flex justify-content-center">Respondendo a pergunta</h1>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header index-card-title">
                    <div class="row">
                        <div class="col-12">
                            <h3><%= question.title %></h3>
                        </div>
                    </div>
                </div>
                <div class="card-body index-card-title">
                    <div class="row">
                        <div class="col-12">
                            <p><%= question.description %></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-end mt-2" >
                <button class="btn btn-success ask-button" style="display: NONE ">RESPONDER</button>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            <form action="/send-answer" method="post">
                <h3>Resposta</h3>
                <textarea name="content" cols="10" rows="8" class="form-control"
                placeholder="Descreva a sua resposta"></textarea>
                <input type="hidden" name="questionId" value="<%= question.id %>">
                <div class="d-flex justify-content-end mt-2">
                    <button type="submit" class="btn btn-success">ENVIAR RESPOSTA</button>
                </div>
            </form>
        </div>
    </div>
</div>
<% include partials/footer.ejs%>